@import url('https://fonts.googleapis.com/css?family=Lato:100,300|Poppins:400,500,600,700');

/* ----------------------------------------
Don't touch
------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ----------------------------------------
Don't touch
------------------------------------------- */


* {
	box-sizing: border-box;
}

/* ----------------------------------------
Base Styles
------------------------------------------- */
body {
  font-family: sans-serif;
  color: white;
  text-align: left;
}


/* ----------------------------------------
Header
------------------------------------------- */
header {
  background-image: url("../static/header-bg.jpg");
  width: 100%;
	height: 100vh;
	text-align: center;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------------------------------
Form
------------------------------------------- */
input {
  height: 32px;
  width: 320px;
  padding: 10px;
  font-size: 18px;
  color: #333333;
  /*outline: none;*/
  margin: 2px;
}

input:focus, textarea:focus {
  outline: none;
	border-color: #BD4932;
	box-shadow: 0 0 3px #BD4932;
}

button {
  height: 30px;
  width: 80px;
  background-color: #BD4932;
  color: white;
  font-family: sans-serif;
  font-weight: 100;
  border: none;
  font-size: 14px;
  margin: 2px;
  text-align: center;
}

button:hover {
	background-color: white;
	color: #BD4932;
	border: 2px solid #BD4932;
	transition: background-color .3s ease-in-out;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #a2a7ad;
    font-size: 16px;
    padding: 20px;
    font-weight: 100;
    text-align: left;
}

::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #a2a7ad;
  font-size: 16px;
  padding: 20px;
  font-weight: 100;
  text-align: left;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #a2a7ad;
  font-size: 16px;
  padding: 20px;
  font-weight: 100;
  text-align: left;
}

::-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #a2a7ad;
  font-size: 16px;
  padding: 20px;
  font-weight: 100;
  text-align: left;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #a2a7ad;
  font-size: 16px;
  padding: 20px;
  font-weight: 100;
  text-align: left;
}



/* ----------------------------------------
Gallery
------------------------------------------- */


/* ----------------------------------------
Typography
------------------------------------------- */
h1 {
  font-size: 48px;
  font-family: poppins;
  font-weight: 500;
  text-align: center;
	margin-bottom: 30px;
}

/*h2 {
	font-size: 36px;
  font-weight: 300;
	}*/

h3 {
  font-size: 26px;
  font-weight: 100;
  text-align: center;
	margin: 30px;
}


/* ----------------------------------------
Place your media queries here!
------------------------------------------- */






/*.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.height-responsive {
    width: auto;
    display:block;
    height: 10%;
}



.front-prop {
  padding-top: 30px;
  display: block;
  position: absolute;
  left: 15%
}


h2{
	font-size: 35px;
	}

h4{
	font-size: 20px;
	}*/
